/*Your CSS goes here. This is the only file you'll need to modify for this assignment.*/
body {
    margin: 0px;
}

.site-banner {
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
}

.logo {
    width: 188px;
}

.article {
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.story-header {
    font-family: "Franklin Light", Times, serif;
}

.news-section {
    font-family: "Franklin Bold", Times, serif;
    max-height: 14px;
    margin-top: 32px;
}

h1.normal {
    font-family: "Postoni", Times, serif;
    font-size: 46px;
    margin-bottom: 0;
    font-weight: normal;
}

.deck {
    height: 20px;
}

.byline {
    height: 16px;
    margin-bottom: 2px;
}

.publish-date {
    height: 14px;
    margin-top: 0;
    text-decoration-color: #666666;
}

.story-body {
    font-family: "Georgia", Times, serif;
    font-size: 20px;
    line-height: 32px;
    max-width: 700px;
}

.photo {
    width: 100%;
}

.photo-caption {
    color: #666666;
    font-size: 14px;
    margin-top: 0;
    line-height: 18px;
    font-family: "Franklin Light", Times, serif;
}

.story-footer {
    max-width: 700px;
    border-top: 1px solid black;
}

h3 {
    font-family: "Franklin Bold", Times, serif; 
    font-size: 16px;
    font-weight: normal;
}

h2 {
    font-size: 28px;
    font-family: "Postoni", Times, serif;
    margin-bottom: 0;
}

.footer-info {
    padding-bottom: 10px;
    border-bottom: 10px faint #e9e9e9;
    line-height: 18px;
    font-family: "Franklin Light", Times, serif;
    font-size: 14px;
}

a:hover {
    color: turquoise;
    text-decoration-color: lightcoral;
}

